.board {
	background-color: darkgreen;
	border: 10px solid #966F33;

	/* bar in middle */
	/* background-image: linear-gradient(#966F33, #966F33);
	background-size: 1% 100%;
	background-repeat: no-repeat;
	background-position: center center; */
}

.roll-btn {
	display: block;
	margin: 0 auto;
}

.dice-img {
	display: inline-block;
	height: 50px;
	margin: 0 auto;
}