.board {
	background-color: darkgreen;
	border: 10px solid #966F33;

	/* bar in middle */
	background-image: linear-gradient(#966F33, #966F33);
	background-size: 2% 100%;
	background-repeat: no-repeat;
	background-position: 49.3% center;
}

.takenPiece {
	display: inline-block;
}

.takenPieces, .removed-pieces {
	background-color: #966F33;
}

.takenPieces.select {
	background-color: yellow;
}

.takenPieces:hover {
	background-color: rgb(131, 99, 50);
	cursor: pointer;
}

.removed-pieces:hover {
	cursor: pointer;
}

.roll-btn {
	display: block;
	margin: 0 auto;
}

.dice-img {
	display: inline-block;
	height: 50px;
	margin: 0 auto;
}

.rmv-pos-dest {
	background-color: lightgreen;
}